{% extends '::base.html.twig' %}
{% block menu %}
    <div class="menu_index">
        <a href="{{ path('test_new') }}">Create test</a> |
        <a href="{{ path('admin_index')}}">Test list</a>
    </div>
{% endblock %}