{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container" style="margin-bottom:50px;width:400px;border:1px solid #c3c3c3; border-radius:3px;">
        <h1>Add new manager </h1>

        {{ form(form) }}

    </div>
{% endblock %}
