{% extends '::base.html.twig' %}

{% block content %}
    <div class="container" style="
     min-height: 100%;
     height: auto !important;
     height: 100%;
     ">
        <h1> admin page</h1>
    </div>
{% endblock %}

